body{
  font-family: monospace;
}



.navbar {
  background: #252525;}
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase;}



.carousel-item {
  height: 450px;
}
.carousel-img-1  {
  background: url('../img/im1.jpg');
  background-size: cover;
}
.carousel-img-2  {
  background: url('../img/im6.jpg');
  background-size: cover;
}
.carousel-img-3  {
  background: url('../img/im9.jpg');
  background-size: cover;
}

#home-section{}
   .fas{
    padding: 10px;
    font-size: 45px;}
#Home-section-2{
  position: relative;
  background: url('../img/im7.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;}
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
#Home-video{
  position: relative;
  background: url('../img/im10.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;}
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
    .dark-overlay .fab{
      font-size: 50px;
      color: #ff0000;
    }

#copyright{
  background-color: #000000;}

#about{
  background: url('../img/im7.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;}

#about-info{}
   img {
    width: 450px;
    height: 450px;}

#testimonial{}
  .card .far{
    font-size: 50px;}
  .card .fab{
    font-size: 50px;}
#popUplogIn{}
  .fab{
   padding: 5px;
   font-size: 15px;}
  .lol{
    padding: 5px;
    font-size: 13px;}
  .modal .container .modal-body{
    font-family: monospace;}
