body{
  font-family: monospace;
}

.navbar {
  background: #252525; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }



#copyright{
        background-color: #000000;}


#contact{
  position: relative;
  background: url('../img/cu1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;}
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}

#popUplogIn{}
    .fab{
      padding: 5px;
      font-size: 15px;}
    .lol{
      padding: 5px;
      font-size: 13px;}
    .modal .container .modal-body{
      font-family: monospace;}

/*Registratiom*/

#Registration{}
    
